<div class="view-wrapper list-page">
  <dx-data-grid
    #cptWeightageGrid
    class="grid theme-dependent"
    [dataSource]="cptWeightageData"
    [showBorders]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    [editing]="{
      mode: 'cell',
      allowUpdating: true,
      startEditAction: 'dblClick',
    }"
    height="82vh"
    [showColumnLines]="true"
    [allowColumnResizing]="true"
    [showBorders]="true"
    (onEditorPreparing)="onEditorPreparing($event)"
    (onRowUpdated)="onRowUpdated($event)"
    (onRowPrepared)="onRowPrepared($event)"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>

    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>

    <dxo-header-filter [visible]="isFilterRowVisible">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>

    <dxo-filter-row [visible]="isFilterRowVisible"></dxo-filter-row>
    <dxo-column-chooser [enabled]="true" [height]="400"></dxo-column-chooser>
    <dxo-search-panel [visible]="true" placeholder="Search"></dxo-search-panel>

    <!-- Toolbar -->
    <dxo-toolbar>
      <!-- Header -->
      <dxi-item location="before">
        <div class="grid-header">CPT Weightage Master</div>
      </dxi-item>

      <!-- Facility Dropdown -->
      <dxi-item
        *ngIf="!IsWeightGlobal"
        location="after"
        widget="dxSelectBox"
        [options]="facilitySelectOptions"
      >
      </dxi-item>

      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          icon: isFilterRowVisible ? 'filter' : 'filter',
          hint: isFilterRowVisible ? 'Hide Filter Row' : 'Show Filter Row',
          onClick: toggleFilterRow,
          stylingMode: 'text',
          elementAttr: { class: 'commonButtons' },
        }"
      ></dxi-item>

      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          text: 'Refresh',
          icon: 'refresh',
          hint: 'refresh',
          onClick: refresh,
          stylingMode: 'text',
        }"
      ></dxi-item>

      <dxi-item
        location="after"
        widget="dxButton"
        [options]="saveButtonOptions"
      ></dxi-item>
    </dxo-toolbar>

    <!-- Grid Columns Here -->
    <dxi-column
      dataField="SerialNumber"
      caption="SL"
      [allowEditing]="false"
      alignment="center"
      [width]="60"
    >
    </dxi-column>

    <dxi-column
      dataField="CPTCode"
      caption="CPT Code"
      [allowEditing]="false"
      alignment="center"
    >
    </dxi-column>

    <dxi-column dataField="CPTName" caption="CPT Name" [allowEditing]="false">
    </dxi-column>

    <dxi-column
      dataField="CPTType"
      caption="CPT Type"
      [allowEditing]="false"
      alignment="center"
    >
    </dxi-column>

    <dxi-column caption="Active Weightage" alignment="center">
      <dxi-column
        dataField="ActiveWeightage"
        caption="Weightage"
        dataType="number"
        format="#,##0.00"
        [allowEditing]="false"
        alignment="right"
      >
      </dxi-column>

      <dxi-column
        dataField="ActiveEffectFrom"
        caption="Effect From"
        dataType="date"
        format="dd-MM-yyyy"
        [allowEditing]="false"
        alignment="center"
      >
      </dxi-column>
    </dxi-column>

    <dxi-column caption="New Weightage" alignment="center">
      <dxi-column
        dataField="NewWeightage"
        caption="Weightage"
        dataType="number"
        format="#,##0.00"
        cssClass="new-Weightage-column"
      >
        <dxi-validation-rule
          type="required"
          message="New Weightage is required"
        >
        </dxi-validation-rule>

        <dxi-validation-rule
          type="range"
          [min]="0.01"
          message="Weightage must be greater than 0"
        >
        </dxi-validation-rule>
      </dxi-column>

      <dxi-column
        dataField="NewEffectFrom"
        caption="Effect From"
        dataType="date"
        format="dd-MM-yyyy"
        cssClass="new-Weightage-column"
      >
        <dxi-validation-rule type="required" message="Effect From is required">
        </dxi-validation-rule>

        <dxi-validation-rule
          type="custom"
          [validationCallback]="validateNewEffectFrom"
          message="New Effect From cannot be less than or equal to Active Effect From"
        >
        </dxi-validation-rule>
      </dxi-column>
    </dxi-column>

    <dxi-column type="buttons" [width]="60">
      <dxi-button
        hint="View History Data"
        icon="errorcircle"
        [onClick]="onHistoryClick.bind(this)"
      >
      </dxi-button>
    </dxi-column>
  </dx-data-grid>

  <!-- =========== History Popup =========== -->
  <dx-popup
    [(visible)]="historyPopupVisible"
    [width]="'60%'"
    [height]="'auto'"
    title="CPT Weightage History"
    [showCloseButton]="true"
    (onShown)="onHistoryPopupShown()"
  >
    <dx-data-grid
      #historyGrid
      [dataSource]="weighategHistoryData"
      [showBorders]="true"
      height="50vh"
    >
      <dxi-column
        dataField="FacilityID"
        caption="Facility"
        [visible]="!IsWeightGlobal"
      ></dxi-column>
      <dxi-column
        dataField="Weightage"
        caption="Weightage"
        dataType="number"
      ></dxi-column>

      <dxi-column dataField="EffectFrom" caption="Effective From"></dxi-column>

      <dxi-column dataField="EffectTo" caption="Effective To"></dxi-column>
      <dxi-column dataField="CreatedTime" caption="Updated Time"></dxi-column>
    </dx-data-grid>
  </dx-popup>
</div>

<dx-load-panel
  [showPane]="false"
  shadingColor="rgba(0, 0, 0, 0.4)"
  [position]="{ of: '.view-wrapper' }"
  [visible]="isLoading"
></dx-load-panel>
