<div class="view-wrapper list-page">
  <dx-data-grid
    class="grid theme-dependent mygrid"
    noDataText=""
    [dataSource]="dataSource"
    [showBorders]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [columnAutoWidth]="true"
    rowAlternationInterval="2"
    (onExporting)="onExporting($event)"
    height="82vh"
    (onRowRemoving)="onRowRemoving($event)"
  >
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-editing
      mode="popup"
      [allowUpdating]="false"
      [allowDeleting]="menuPrevilage.CanDelete"
      [allowAdding]="menuPrevilage.CanAdd"
      [popup]="{ width: '35%', height: '70vh' }"
    >
    </dxo-editing>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="isFilterRowVisible">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
    <dxo-filter-row [visible]="isFilterRowVisible"></dxo-filter-row>
    <dxo-search-panel [visible]="true" placeholder=" Search"></dxo-search-panel>
    <dxo-export
      [enabled]="true"
      [allowExportSelectedData]="false"
      [formats]="['xlsx']"
    >
    </dxo-export>
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">Clinical Costing Process</div>
      </dxi-item>

      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          icon: isFilterRowVisible ? 'filter' : 'filter',
          hint: isFilterRowVisible ? 'Hide Filter Row' : 'Show Filter Row',
          onClick: toggleFilterRow,
          stylingMode: 'text',
          elementAttr: { class: 'commonButtons' }
        }"
      ></dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          text: 'Refresh',
          icon: 'refresh',
          onClick: refresh,
          stylingMode: 'text',
          hint: 'Refresh'
        }"
      ></dxi-item>

      <dxi-item
        name="exportButton"
        location="after"
        cssClass="custom-export-button"
      ></dxi-item>

      <dxi-item
        location="after"
        widget="dxButton"
        [options]="addButtonOptions"
      ></dxi-item>
    </dxo-toolbar>

    <dxi-column
      dataField="ProcessNo"
      caption="Process No"
      alignment="left"
    >
    </dxi-column>
    <dxi-column dataField="FacilityName" caption="Facility"> </dxi-column>
    <dxi-column
      dataField="PeriodFrom"
      Caption="Period From"
      dataType="date"
      format="dd-MM-yyyy"
    ></dxi-column>
    <dxi-column
      dataField="PeriodTo"
      Caption="PeriodTo"
      dataType="date"
      format="dd-MM-yyyy"
    ></dxi-column>
    <dxi-column dataField="ProcessTime" Caption="Process Time"></dxi-column>
    <dxi-column dataField="SubmissionType" Caption="Submission Type"></dxi-column>
    <dxi-column dataField="Status" Caption="Status"></dxi-column>
    <dxi-column dataField="TestUpload" Caption="Test Upload"></dxi-column>
    <dxi-column
      dataField="ProductionUpload"
      Caption="Production Upload"
    ></dxi-column>
    <dxi-column type="buttons" [width]="'auto'" caption=" ">
      <dxi-button
        text="Details"
        icon="info"
        [onClick]="viewDetails"
        [disabled]="isDetailsVisible"
        [visible]="previlagelogData.CanUploadCostingData"
      ></dxi-button>

      <dxi-button
        text="Verify"
        icon="check"
        [disabled]="disableVerifyButton"
        [onClick]="verifyRow_Data"
        [visible]="previlagelogData.CanVerifyCostingData"
      ></dxi-button>

      <dxi-button
        text="Approve"
        icon="bi bi-check2-all"
        [disabled]="disableApproveButton"
        [onClick]="approveRow_Data"
        [visible]="previlagelogData.CanApproveCostingData"
      ></dxi-button>

      <dxi-button
        text="Delete"
        icon="trash"
        [disabled]="disableDeleteButton"
        [onClick]="rowData_Deleting"
        [visible]="menuPrevilage.CanDelete"
      ></dxi-button>

      <dxi-button
        text="Resume"
        icon="video"
        [visible]="isResumeProcess"
        [onClick]="resume_Process"
      ></dxi-button>

      <dxi-button
        text="Reprocess"
        icon="refresh"
        [disabled]="isReprocessVisible"
        [onClick]="onReprocessButtonClick"
        [visible]="previlagelogData.CanReprocessCostingData"
      ></dxi-button>
    </dxi-column>
  </dx-data-grid>

  <!-- ======= add form popup ======== -->
  <dx-popup
    class="formPopupClass"
    [(visible)]="isAddFormPopupOpened"
    title="Clinical Costing Process"
    [title]="
      isNewReprocessing
        ? 'Clinical Costing Reprocess'
        : 'Clinical Costing Process'
    "
    [width]="popupwidth"
    [height]="'100vh'"
    (onHidden)="CloseForm()"
  >
    <dx-validation-group #validationGroup>
      <dx-data-grid
        #dataGrid
        [dataSource]="financeDataSource"
        [showBorders]="true"
        [paging]="{ pageSize: 10 }"
        [pager]="{
          showPageSizeSelector: true,
          allowedPageSizes: [50, 100, 1000]
        }"
        [allowColumnResizing]="true"
        [allowColumnReordering]="true"
        [rowAlternationEnabled]="true"
        rowAlternationInterval="2"
        [columnAutoWidth]="true"
        [columnFixing]="{ enabled: true }"
        [height]="'85vh'"
        [width]="'100%'"
      >
        <dxo-load-panel [showPane]="false"></dxo-load-panel>
        <dxo-paging [enabled]="true" [pageSize]="100"></dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]="allowedPageSizes"
          [displayMode]="displayMode"
          [showPageSizeSelector]="false"
          [showInfo]="showInfo"
          [showNavigationButtons]="showNavButtons"
        >
        </dxo-pager>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-toolbar>
          <!-- Facility -->
          <dxi-item location="before" locateInMenu="auto" class="me-2">
            <dx-drop-down-box
              label="Facility"
              labelMode="floating"
              labelLocation="left"
              [(value)]="selectedFacilityID"
              valueExpr="FacilityLicense"
              [displayExpr]="facilityDisplayExpr"
              [showClearButton]="true"
              [dataSource]="facilityData"
              [width]="'350'"
              [dropDownOptions]="{ width: 'auto' }"
              [disabled]="isNewReprocessing"
              [hint]="facilityHint"
            >
              <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="Facility is required"
                ></dxi-validation-rule>
              </dx-validator>
              
              <div *dxTemplate="let data of 'content'">
                <dx-data-grid
                  #facilityGrid
                  [dataSource]="facilityData"
                  keyExpr="FacilityLicense"
                  [columns]="[
                    {
                      dataField: 'FacilityLicense',
                      caption: 'Facility ID',
                      width: 'auto'
                    },
                    {
                      dataField: 'FacilityName',
                      caption: 'Facility Name',
                      width: 'auto'
                    }
                  ]"
                  [selection]="{ mode: 'single' }"
                  [hoverStateEnabled]="true"
                  [paging]="{ enabled: true, pageSize: 10 }"
                  [filterRow]="{ visible: true }"
                  [headerFilter]="{ visible: true }"
                  [scrolling]="{ mode: 'virtual' }"
                  [height]="'auto'"
                  (onSelectionChanged)="onFacilitySelected($event)"
                  [(selectedRowKeys)]="selectedFacilityID"
                ></dx-data-grid>
              </div>
            </dx-drop-down-box>
          </dxi-item>

          <!-- Year -->
          <dxi-item location="before" locateInMenu="auto" class="">
            <dx-select-box
              label="Year"
              labelMode="floating"
              [(value)]="selectedYear"
              [dataSource]="years"
              (onValueChanged)="onYearChanged($event)"
              [disabled]="!selectedFacilityID"
              placeholder="Year"
              [width]="120"
              [disabled]="isNewReprocessing"
            ></dx-select-box>
          </dxi-item>

          <!-- Month -->
          <dxi-item location="before " locateInMenu="auto" class="">
            <dx-select-box
              label="Month"
              labelMode="floating"
              [dataSource]="monthDataSource"
              displayExpr="name"
              valueExpr="value"
              [(value)]="selectedmonth"
              [disabled]="!selectedFacilityID"
              (onValueChanged)="onMonthValueChanged($event)"
              [width]="140"
              [disabled]="isNewReprocessing"
            ></dx-select-box>
          </dxi-item>

          <!-- From Date -->
          <dxi-item location="center" locateInMenu="auto" class="">
            <dx-date-box
              label="From Date"
              labelMode="floating"
              [min]="minDate"
              [max]="maxDate"
              [(value)]="dateRange.startDate"
              [disabled]="!selectedFacilityID"
              displayFormat="dd-MM-yyyy"
              [width]="150"
              [disabled]="isNewReprocessing"
            >
              <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="From Date is required"
                ></dxi-validation-rule>
              </dx-validator>
            </dx-date-box>
          </dxi-item>

          <!-- To Date -->
          <dxi-item location="center" locateInMenu="auto" class="">
            <dx-date-box
              [min]="minDate"
              [max]="maxDate"
              label="To Date"
              labelMode="floating"
              [(value)]="dateRange.endDate"
              [disabled]="!selectedFacilityID"
              displayFormat="dd-MM-yyyy"
              [width]="150"
              [disabled]="isNewReprocessing"
            >
              <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="To Date is required"
                ></dxi-validation-rule>
              </dx-validator>
            </dx-date-box>
          </dxi-item>

          <!-- Apply Button -->
          <dxi-item
            location="after"
            widget="dxButton"
            [disabled]="!selectedFacilityID"
            [options]="applyButtonOptions"
            [disabled]="isNewReprocessing"
          ></dxi-item>
        </dxo-toolbar>

        <dxi-column dataField="FacilityID" caption="FacilityID"> </dxi-column>
        <dxi-column dataField="LedgerCode" caption="Ledger Code"> </dxi-column>
        <dxi-column dataField="LedgerName" caption="Ledger Name"> </dxi-column>
        <dxi-column dataField="Department" caption="Department"> </dxi-column>
        <dxi-column dataField="SubDepartment" caption="Sub Department">
        </dxi-column>
        <!-- <dxi-column
          dataField="PeriodFrom"
          caption="Period From"
          dataType="date"
          format="dd-MM-yyyy"
        >
        </dxi-column>
        <dxi-column
          dataField="PeriodTo"
          caption="Period To"
          dataType="date"
          format="dd-MM-yyyy"
        >
        </dxi-column> -->
        <dxi-column
          dataField="Amount"
          caption="Amount"
          dataType="number"
          format="#,##0.00"
          alignment="right"
        >
        </dxi-column>

        <dxo-summary>
          <dxi-total-item
            column="Amount"
            summaryType="sum"
            valueFormat="#,##0.00"
            displayFormat="Total: {0}"
          ></dxi-total-item>
        </dxo-summary>
      </dx-data-grid>

      <!-- Action buttons below the grid -->
      <div style="text-align: right; padding: 0px">
        <dx-button
          text="Cancel"
          stylingMode="outlined"
          type="normal"
          class="mx-2"
          (onClick)="CloseForm()"
        ></dx-button>
        <dx-button
          text="Process"
          [disabled]="!financeData?.length"
          type="default"
          (onClick)="onProcessData()"
        ></dx-button>
      </div>
    </dx-validation-group>
  </dx-popup>

  <!-- ==== process validation error grid popup ===== -->
  <dx-popup
    [(visible)]="showValidationPopup"
    [width]="'90%'"
    [height]="'auto'"
    [showTitle]="true"
    title="Validation Warnings"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
  >
    <div *ngIf="validationIssues?.length">
      <p class="text-danger fw-bold">
        Some issues were found in the data. Do you want to continue processing?
      </p>

      <dx-data-grid
        [dataSource]="validationIssues"
        [showBorders]="true"
        [columnAutoWidth]="true"
        [height]="'50vh'"
        [wordWrapEnabled]="true"
      >
        <dxi-column
          dataField="PARTICULARS"
          caption="PARTICULARS"
          width="auto"
        ></dxi-column>
        <dxi-column dataField="VALUE" caption="Remarks" width="auto">
          <div *dxTemplate="let cellData of 'cell'">
            <div class="wrap-cell">
              {{ cellData.value }}
            </div>
          </div>
        </dxi-column>
      </dx-data-grid>

      <div class="text-end mt-3">
        <dx-button
          text="Cancel"
          type="normal"
          stylingMode="outlined"
          (onClick)="onCancelValidationPopup()"
          class="me-2"
        ></dx-button>

        <dx-button
          text="Continue"
          type="default"
          hint="Ignore the validation and continue the process"
          (onClick)="onConfirmValidationPopup()"
        ></dx-button>
      </div>
    </div>
  </dx-popup>

  <!-- ======= detailed view report popup ======== -->
  <dx-popup
    class="formPopupClass"
    [(visible)]="ViewCostingDataPopup"
    [title]="
      isReprocess
        ? 'Clinical Costing Details - Reprocess'
        : 'Clinical Costing Details'
    "
    [width]="popupwidth"
    [height]="'100vh'"
    [width]="'90%'"
  >
    <app-costing-data-form
      *ngIf="ViewCostingDataPopup"
      [selectedRowData]="selectedData"
    ></app-costing-data-form>
  </dx-popup>
</div>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#dataGrid' }"
  [(visible)]="isProcessing"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [message]="processMessage"
></dx-load-panel>

<dx-load-panel
  [visible]="showProgressBar"
  shadingColor="rgba(0,0,0,0.2)"
  [showIndicator]="false"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false"
  [message]="''"
>
  <div *dxTemplate="let data of 'content'">
    <div class="custom-loader text-center p-3">
      <img
        src="assets/icons/Refresh_icon.svg.png"
        alt="Loading..."
        class="spinner-img"
      />
      <h4>
        Processing Batches<span class="dot-container"
          ><span class="dot-animation"></span
        ></span>
      </h4>
      <p>
        <b>{{ currentBatchIndex }}</b> / <b>{{ totalBatches }}</b> completed
      </p>
    </div>
  </div>
</dx-load-panel>


<dx-popup
  [(visible)]="popupVisible"
  [showTitle]="true"
  title="Alert"
  [width]="450"
  [height]="180"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
>
  <div>{{ popupMessage }}</div>
  <div style="text-align:right; margin-top:10px;">
    <dx-button
      text="OK"
      (onClick)="popupVisible = false"
      type="default"
    ></dx-button>
  </div>
</dx-popup>

