<div class="view-wrapper list-page">
  <dx-validation-group #validationGroup>
    <!-- <div class="container-fluid toolbar-fields p-2">
      <div class="row align-items-center g-2">
        <div class="col-auto">
          <dx-drop-down-box
            label="Facility"
            labelMode="floating"
            labelLocation="left"
            [(value)]="selectedFacility"
            valueExpr="FacilityLicense"
            displayExpr="FacilityName"
            [showClearButton]="true"
            [dataSource]="facilityListDataSource"
            [width]="'350'"
            [dropDownOptions]="{ width: '500' }"
          >
            <div *dxTemplate="let data of 'content'">
              <dx-data-grid
                #facilityGrid
                [dataSource]="facilityListDataSource"
                keyExpr="FacilityLicense"
                [columns]="[
                  { dataField: 'FacilityLicense', caption: 'License' },
                  { dataField: 'FacilityName', caption: 'Name' }
                ]"
                [selection]="{ mode: 'multiple' }"
                [hoverStateEnabled]="true"
                [paging]="{ enabled: true, pageSize: 10 }"
                [filterRow]="{ visible: true }"
                [headerFilter]="{ visible: true }"
                [scrolling]="{ mode: 'virtual' }"
                [height]="'auto'"
                [(selectedRowKeys)]="selectedFacility"
              ></dx-data-grid>
            </div>
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Facility required before import"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-drop-down-box>
        </div>

        <div class="col-auto">
          <dx-select-box
            labelMode="floating"
            labelLocation="left"
            label="Year"
            [(value)]="selectedYear"
            [dataSource]="years"
            (onValueChanged)="onYearChanged($event)"
            placeholder="Year"
            [width]="'auto'"
            [width]="150"
          ></dx-select-box>
        </div>

        <div class="col-auto">
          <dx-select-box
            labelMode="floating"
            labelLocation="left"
            label="month"
            [dataSource]="monthDataSource"
            displayExpr="name"
            valueExpr="value"
            [(value)]="selectedmonth"
            (onValueChanged)="onMonthValueChanged($event)"
            [width]="150"
          >
          </dx-select-box>
        </div>

        <div class="col-auto">
          <dx-date-box
            label="From Date"
            labelMode="floating"
            labelLocation="left"
            [(value)]="fromDate"
            [displayFormat]="'dd-MM-yyyy'"
            type="date"
            [width]="150"
            [min]="minDate"
            [max]="maxDate"
          >
          </dx-date-box>
        </div>

        <div class="col-auto">
          <dx-date-box
            label="To Date"
            labelMode="floating"
            labelLocation="left"
            [(value)]="toDate"
            [displayFormat]="'dd-MM-yyyy'"
            [min]="fromDate"
            [max]="today"
            type="date"
            [width]="150"
          >
          </dx-date-box>
        </div>

        <div class="col-auto ms-auto mt-3">
          <dx-button
            text="Apply"
            icon=""
            type="default"
            (onClick)="onApplyFilter()"
          >
          </dx-button>
        </div>
      </div>
    </div> -->

    <dx-data-grid
      class="grid theme-dependent"
      noDataText=""
      [dataSource]="dataSource"
      [showBorders]="true"
      [allowColumnResizing]="true"
      [allowColumnReordering]="true"
      [rowAlternationEnabled]="true"
      [columnAutoWidth]="true"
      rowAlternationInterval="2"
      (onExporting)="onExporting($event)"
      height="82vh"
    >
      <dxo-editing [allowUpdating]="false"> </dxo-editing>
      <dxo-paging [pageSize]="10"></dxo-paging>

      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="showInfo"
        [showNavigationButtons]="showNavButtons"
      >
      </dxo-pager>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="isFilterRowVisible"></dxo-header-filter>
      <dxo-filter-panel [visible]="isFilterRowVisible"></dxo-filter-panel>
      <dxo-filter-builder [allowHierarchicalFields]="true">
      </dxo-filter-builder>
      <dxo-filter-row [visible]="isFilterRowVisible"></dxo-filter-row>
      <dxo-search-panel
        [visible]="true"
        placeholder=" Search"
      ></dxo-search-panel>
      <dxo-export
        [enabled]="true"
        [allowExportSelectedData]="false"
        [formats]="['xlsx']"
      >
      </dxo-export>

      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header">Finance Data</div>
        </dxi-item>

        <!-- <dxi-item location="after">
          <div style="width: 380px">
            <dx-drop-down-box
              label="Facility"
              labelMode="floating"
              labelLocation="left"
              [(value)]="selectedFacility"
              valueExpr="FacilityLicense"
              [displayExpr]="displayFacility"
              [showClearButton]="true"
              [dataSource]="facilityListDataSource"
              [width]="'350'"
              [dropDownOptions]="{ width: '500' }"
            >
              <div *dxTemplate="let data of 'content'">
                <dx-data-grid
                  #facilityGrid
                  [dataSource]="facilityListDataSource"
                  keyExpr="FacilityLicense"
                  [columns]="[
                    { dataField: 'FacilityLicense', caption: 'License' },
                    { dataField: 'FacilityName', caption: 'Name' },
                  ]"
                  [selection]="{ mode: 'multiple' }"
                  [hoverStateEnabled]="true"
                  [paging]="{ enabled: true, pageSize: 10 }"
                  [filterRow]="{ visible: true }"
                  [headerFilter]="{ visible: true }"
                  [scrolling]="{ mode: 'virtual' }"
                  [height]="'auto'"
                  [(selectedRowKeys)]="selectedFacility"
                ></dx-data-grid>
              </div>
              <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="Facility required before import"
                ></dxi-validation-rule>
              </dx-validator>
            </dx-drop-down-box>
          </div>
        </dxi-item> -->

        <dxi-item
          location="after"
          locateInMenu="auto"
          showText="inMenu"
          widget="dxButton"
          [options]="{
            icon: 'download',
            hint: 'Download Template',
            onClick: downloadFinanceImportTemplate,
            stylingMode: 'text',
            elementAttr: { class: 'commonButtons' },
          }"
        ></dxi-item>

        <dxi-item
          location="after"
          locateInMenu="auto"
          showText="inMenu"
          widget="dxButton"
          [options]="{
            icon: isFilterRowVisible ? 'filter' : 'filter',
            hint: isFilterRowVisible ? 'Hide Filter Row' : 'Show Filter Row',
            onClick: toggleFilterRow,
            stylingMode: 'text',
            elementAttr: { class: 'commonButtons' },
          }"
        ></dxi-item>
        <dxi-item
          location="after"
          locateInMenu="auto"
          showText="inMenu"
          widget="dxButton"
          [options]="{
            text: 'Refresh',
            icon: 'refresh',
            onClick: refresh,
            stylingMode: 'text',
            hint: 'Refresh',
          }"
        ></dxi-item>

        <dxi-item
          name="exportButton"
          location="after"
          cssClass="custom-export-button"
        ></dxi-item>

        <dxi-item
          location="after"
          widget="dxButton"
          [options]="addButtonOptions"
        ></dxi-item>
      </dxo-toolbar>

      <dxi-column dataField="FacilityID" caption="Facility ID"> </dxi-column>
      <!-- <dxi-column dataField="LedgerCode" caption="Ledger Code"> </dxi-column>
      <dxi-column
        dataField="LedgerName"
        caption="Ledger Name"
        [width]="150"
      ></dxi-column>
      <dxi-column dataField="ExpenseType" caption="Expense Type"></dxi-column>
      <dxi-column dataField="CostType" caption="Cost Type"></dxi-column> -->

      <dxi-column dataField="PeriodFrom" caption="Period From"></dxi-column>
      <dxi-column dataField="PeriodTo" caption="Period To"></dxi-column> -->
      <!-- <dxi-column dataField="Department" caption="Department"></dxi-column>
      <dxi-column
        dataField="SubDepartment"
        caption="Sub Department"
      ></dxi-column>  -->
      <dxi-column dataField="FileName" caption="FileName"></dxi-column>
      <dxi-column dataField="ImportedUser" caption="Imported User"></dxi-column>
      <dxi-column dataField="ImportedTime" caption="Imported Time"></dxi-column>
      <!-- <dxi-column dataField="Amount" caption="Amount"></dxi-column> -->
      <dxi-column
        dataField="Status"
        caption="Status"
        [cellTemplate]="cellTemplate"
      ></dxi-column>
      <dxi-column type="buttons" [width]="'auto'" caption=" ">
        <dxi-button
          text="Details"
          icon="info"
          [onClick]="viewDetails"
        ></dxi-button>

        <dxi-button
          text="Make Inactive"
          icon="trash"
          [disabled]="disableStatus"
          [onClick]="updateStatus"
        ></dxi-button>
      </dxi-column>

      <dxo-summary>
        <dxi-total-item
          column="Amount"
          summaryType="sum"
          [valueFormat]="usNumberFormat"
          displayFormat="Total: {0}"
          alignment="right"
        ></dxi-total-item>
      </dxo-summary>
    </dx-data-grid>

    <input
      style="display: none"
      type="file"
      #excelInput
      accept=".xls,.xlsx"
      (change)="onExcelSelected($event)"
    />
  </dx-validation-group>
</div>

<dx-popup
  class="formPopupClass"
  [(visible)]="isImportPopupOpened"
  title="Import Finance Data"
  height="100vh"
  width="75vw"
  (onHidden)="onImportPopupClosed()"
>
  <div
    *dxTemplate="let data of 'content'"
    style="height: 100%; display: flex; flex-direction: column"
  >
    <dx-data-grid
      [dataSource]="importFinanceDataList"
      [showBorders]="true"
      [columnAutoWidth]="true"
      [rowAlternationEnabled]="true"
      [allowColumnResizing]="true"
      [allowColumnReordering]="true"
      style="flex: 1"
      [height]="'70vh'"
      [width]="'100%'"
    >
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="showInfo"
        [showNavigationButtons]="showNavButtons"
      ></dxo-pager>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-header-filter [visible]="true">
        <dxo-search [enabled]="true"></dxo-search>
      </dxo-header-filter>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
    </dx-data-grid>

    <!-- Action buttons below the grid -->
    <div style="text-align: right; padding: 15px 0 10px">
      <dx-button
        text="Cancel"
        stylingMode="outlined"
        type="normal"
        class="mx-2"
        (onClick)="onImportPopupClosed()"
      ></dx-button>
      <dx-button
        text="Save"
        type="default"
        (onClick)="onSaveClick()"
        [disabled]="isSaving"
      ></dx-button>
    </div>
  </div>
</dx-popup>

<dx-popup
  [(visible)]="ViewImportDataPopup"
  title="View Finance Data"
  [width]="popupwidth"
  [height]="'100vh'"
  (onHidden)="CloseExcelForm()"
>
  <dx-data-grid
    #dataGrid
    [showBorders]="true"
    [paging]="{ pageSize: 10 }"
    [pager]="{ showPageSizeSelector: true, allowedPageSizes: [50, 100, 1000] }"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [columnFixing]="{ enabled: true }"
    [height]="'83vh'"
    [width]="'100%'"
    [dataSource]="importedDataSource"
    (onExporting)="onExporting($event)"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>

    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="isViewFilterRowVisible"></dxo-header-filter>
    <dxo-filter-panel [visible]="isViewFilterRowVisible"></dxo-filter-panel>
    <dxo-filter-builder [allowHierarchicalFields]="true"> </dxo-filter-builder>
    <dxo-filter-row [visible]="isViewFilterRowVisible"></dxo-filter-row>
    <dxo-search-panel [visible]="true" placeholder=" Search"></dxo-search-panel>
    <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
    <dxo-grouping
      [autoExpandAll]="false"
      [contextMenuEnabled]="true"
      [expandMode]="'rowClick'"
    ></dxo-grouping>
    <dxo-export
      [enabled]="true"
      [allowExportSelectedData]="false"
      [formats]="['xlsx']"
    >
    </dxo-export>

    <dxo-toolbar class="toolBarDiv p-0 m-0">
      <dxi-item location="before" locateInMenu="auto" class="me-3">
        <dx-text-box
          label="File Name"
          labelMode="floating"
          [readOnly]="true"
          [(value)]="importedMetadata.FileName"
        >
        </dx-text-box>
      </dxi-item>
      <dxi-item location="before" locateInMenu="auto" class="me-3">
        <dx-text-box
          label="Imported Date"
          labelMode="floating"
          [readOnly]="true"
          [(value)]="importedMetadata.ImportTime"
          [width]="200"
        >
        </dx-text-box>
      </dxi-item>
      <dxi-item location="before" locateInMenu="auto">
        <dx-text-box
          label="Imported User"
          labelMode="floating"
          [readOnly]="true"
          [(value)]="importedMetadata.UserName"
        >
        </dx-text-box>
      </dxi-item>

      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          icon: isViewFilterRowVisible ? 'filter' : 'filter',
          hint: isViewFilterRowVisible ? 'Hide Filter Row' : 'Show Filter Row',
          onClick: toggleFinaceFilterRow,
          stylingMode: 'text',
          elementAttr: { class: 'commonButtons' },
        }"
      ></dxi-item>

      <dxi-item
        name="exportButton"
        location="after"
        cssClass="custom-export-button"
      >
      </dxi-item>
    </dxo-toolbar>
    <dxi-column dataField="FacilityID" caption="Facility ID"> </dxi-column>
    <dxi-column dataField="LedgerCode" caption="Ledger Code"> </dxi-column>
    <dxi-column dataField="LedgerName" caption="Ledger Name"></dxi-column>
    <dxi-column
      dataField="ExpenseType"
      caption="Expense Type"
      [allowGrouping]="true"
      [showWhenGrouped]="true"
    ></dxi-column>
    <dxi-column
      dataField="CostType"
      caption="Cost Type"
      [allowGrouping]="true"
      [showWhenGrouped]="true"
    ></dxi-column>
    <dxi-column dataField="PeriodFrom" caption="Period From"></dxi-column>
    <dxi-column dataField="PeriodTo" caption="Period To"></dxi-column>
    <dxi-column dataField="Department" caption="Department"></dxi-column>
    <dxi-column dataField="SubDepartment" caption="Sub Department"></dxi-column>
    <dxi-column
      dataField="Amount"
      caption="Amount"
      dataType="number"
      format="#,##0.00"
    >
    </dxi-column>
    <dxo-summary>
      <dxi-total-item
        column="Amount"
        summaryType="sum"
        [valueFormat]="usNumberFormat"
        displayFormat="Total: {0}"
        alignment="right"
      ></dxi-total-item>
    </dxo-summary>
  </dx-data-grid>
</dx-popup>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#dataGrid' }"
  [(visible)]="isLoading"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Loading..."
></dx-load-panel>
