::ng-deep .no-padding-form .dx-layout-manager .dx-field-item-content {
  padding: 1px !important;
  margin: 0 !important;
}

::ng-deep .no-padding-form .dx-field-item {
  padding: 1px !important;
  margin: 0 !important;
}

::ng-deep .highlighted-facility {
  background-color: #0e5c80 !important; // Light blue, customize as needed
}

.inner-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.subgridDataDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding-left: 130px;
}

// ==========================================
.section-card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 5px;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 2px solid var(--border-color);
}

// ====================================

::ng-deep .section-card .tabs-demo {
  display: flex;
}

::ng-deep .section-card .strict-width {
  max-width: 340px;
}

::ng-deep .section-card .dx-theme-generic .strict-width {
  max-width: 250px;
}

::ng-deep .section-card .widget-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  min-width: 200px;
  padding: 16px 32px;
  overflow: clip;
}

::ng-deep .section-card .widget-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 100%;
}

::ng-deep .section-card .widget-wrapper-vertical {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

.caption {
  font-weight: 500;
  font-size: 18px;
}

::ng-deep .section-card .dx-tab.dx-tab-selected {
  background: rgb(192, 218, 236);
}
::ng-deep .latest-row {
  // background-color: #eaf0f0 !important;
  font-weight: 600;
}

::ng-deep .latest-row td {
  border-top: 2px solid #008080 !important;
  border-bottom: 2px solid #008080 !important;
}
