<dx-form class="plain-styled-form no-padding-form">
  <dxi-item itemType="group">
    <dxo-col-count-by-screen
      [xs]="1"
      [sm]="1"
      [md]="1"
      [lg]="1"
    ></dxo-col-count-by-screen>

    <dxi-item>
      <div *dxTemplate>
        <dx-text-box
          label="CPT Code"
          [(value)]="newCptMasterData.CPTCode"
          labelMode="floating"
          [readOnly]="true"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="CPT Code is required"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-text-box
          label="CPT Name"
          labelMode="floating"
          height="60"
          [(value)]="newCptMasterData.CPTName"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="CPT Name is required"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-text-box
          label="Description"
          labelMode="floating"
          [(value)]="newCptMasterData.Description"
        ></dx-text-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-select-box
          label="CPT Type"
          labelMode="floating"
          [(value)]="newCptMasterData.CPTTypeID"
          [items]="CptType_DropDownData"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [searchEnabled]="true"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="CPT Type is required"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-select-box
          label="ADOC Category"
          [(value)]="newCptMasterData.ADOCGroupID"
          labelMode="floating"
          [items]="ADOCgroupDataSource"
          displayExpr="DESCRIPTION"
          [searchEnabled]="true"
          valueExpr="ID"
          [showClearButton]="true"
          (onValueChanged)="onADOCGroupChanged($event)"
        >
        </dx-select-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-select-box
          label="ADOC Class"
          [(value)]="newCptMasterData.ADOCClassID"
          labelMode="floating"
          [items]="ADOCClassDataSource"
          displayExpr="DESCRIPTION"
          [searchEnabled]="true"
          valueExpr="ID"
          [disabled]="!newCptMasterData.ADOCGroupID"
        >
        </dx-select-box>
      </div>
    </dxi-item>
  </dxi-item>
</dx-form>
