::ng-deep .custom-export-btn .dx-button-content {
  padding: 4px !important;
}

::ng-deep .custom-export-btn .dx-button {
  min-width: 32px !important;
}

.billable-yes {
  color: green;
  font-weight: 600;
}

.billable-no {
  color: red;
  font-weight: 600;
}

.cpt-link {
  cursor: pointer;
}

.rotate-icon {
  display: inline-block;
  animation: spinClockwise 1s linear infinite;
}

@keyframes spinClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


