<div class="view-wrapper list-page">
  <dx-data-grid
    class="grid theme-dependent"
    noDataText="No Data Available"
    height="82vh"
    [dataSource]="dataSource"
    [showBorders]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    (onExporting)="onExporting($event)"
    (onRowRemoving)="onRowRemoving($event)"
    (onRowUpdating)="onRowUpdating($event)"
  >
    <dxo-editing
      mode="popup"
      [allowUpdating]="menuPrevilage.CanEdit"
      [allowDeleting]="menuPrevilage.CanDelete"
      [allowAdding]="false"
    >
      <dxo-popup
        title="Edit ADOC Classification"
        [showTitle]="true"
        [width]="500"
        [height]="'auto'"
      >
      </dxo-popup>

      <dxo-form [colCount]="1" labelMode="floating">
        <dxi-item dataField="ClassCode" [editorOptions]="{ readOnly: true }">
          <dxi-validation-rule
            type="required"
            message="Class Code is required"
          ></dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="ClassName">
          <dxi-validation-rule
            type="required"
            message="Class Name is required"
          ></dxi-validation-rule>
        </dxi-item>

        <dxi-item
          dataField="GroupID"
          [label]="{ text: 'ADOC Category' }"
          editorType="dxSelectBox"
          [editorOptions]="{
            dataSource: ADOC_Category_List,
            displayExpr: 'DESCRIPTION',
            valueExpr: 'ID',
          }"
        >
          <dxi-validation-rule
            type="required"
            message="ADOC Category is required"
          ></dxi-validation-rule>
        </dxi-item>

        <dxi-item
          dataField="IsInactive"
          editorType="dxCheckBox"
          [label]="{ visible: false }"
          [editorOptions]="{
            text: 'Inactive',
          }"
        >
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>

    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="isFilterRowVisible">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
    <dxo-filter-row [visible]="isFilterRowVisible"></dxo-filter-row>
    <dxo-column-chooser [enabled]="true" [height]="400"></dxo-column-chooser>
    <dxo-search-panel [visible]="true" placeholder=" Search"></dxo-search-panel>
    <dxo-export
      [enabled]="true"
      [allowExportSelectedData]="false"
      [formats]="['xlsx']"
    >
    </dxo-export>

    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">ADOC Classification</div>
      </dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          icon: isFilterRowVisible ? 'filter' : 'filter',
          hint: isFilterRowVisible ? 'Hide Filter Row' : 'Show Filter Row',
          onClick: toggleFilterRow,
          stylingMode: 'text',
          elementAttr: { class: 'commonButtons' },
        }"
      ></dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          text: 'Refresh',
          icon: 'refresh',
          hint: 'refresh',
          onClick: refresh,
          stylingMode: 'text',
        }"
      ></dxi-item>

      <dxi-item
        name="exportButton"
        location="after"
        cssClass="custom-export-button"
      ></dxi-item>
      <dxi-item
        location="after"
        widget="dxButton"
        [options]="addButtonOptions"
      ></dxi-item>
    </dxo-toolbar>

    <dxi-column dataField="ClassCode" caption="Class Code"></dxi-column>
    <dxi-column dataField="ClassName" caption="Class Name"></dxi-column>
    <dxi-column dataField="GroupID" caption="ADOC Category">
      <dxo-lookup
        [dataSource]="ADOC_Category_List"
        valueExpr="ID"
        displayExpr="DESCRIPTION"
      ></dxo-lookup
    ></dxi-column>
    <dxi-column
      dataField="IsInactive"
      caption="Inactive"
      dataType="boolean"
      [visible]="false"
    ></dxi-column>
    <dxi-column dataField="Status" caption="Status"></dxi-column>
  </dx-data-grid>

  <!-- ========= new form popup ========= -->
  <dx-popup
    [(visible)]="isAddPopupVisible"
    title="New ADOC Classification"
    [width]="500"
    [height]="'auto'"
    [showCloseButton]="true"
    [hideOnOutsideClick]="false"
     (onHiding)="onPopupHiding()"
  >
    <div *dxTemplate="let data of 'content'">
      <dx-form
        #addForm
        [formData]="newADOCClass"
        labelMode="floating"
        validationGroup="adocClassValidation"
      >
        <dxi-item dataField="Code" editorType="dxTextBox">
          <dxi-validation-rule
            type="required"
            message="Code is required"
          ></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="Name" editorType="dxTextBox">
          <dxi-validation-rule
            type="required"
            message="Name is required"
          ></dxi-validation-rule>
        </dxi-item>

        <dxi-item
          dataField="ADOCGroupID"
          editorType="dxSelectBox"
          [label]="{ text: 'ADOC Category' }"
          [editorOptions]="{
            dataSource: ADOC_Category_List,
            valueExpr: 'ID',
            displayExpr: 'DESCRIPTION',
            searchEnabled: true,
          }"
        >
          <dxi-validation-rule
            type="required"
            message="ADOC Category is required"
          ></dxi-validation-rule>
        </dxi-item>
      </dx-form>

      <div class="mt-5 text-end">
        <dx-button
          text="Cancel"
          stylingMode="outlined"
          type="normal"
          (onClick)="isAddPopupVisible = false"
        ></dx-button>

        <dx-button
          class="ms-2"
          text="Save"
          stylingMode="contained"
          type="default"
          (onClick)="onDataSaving()"
        ></dx-button>
      </div>
    </div>
  </dx-popup>
</div>
