<div class="view-wrapper list-page">
  <div class="h-80vh">
    <div
      class="topDiv d-flex w-100 sticky-top justify-content-between firstChartDiv ExportDiv1"
    >
      <div class="d-flex align-items-center ps-3" style="font-size: 20px">
        <div class="grid-header">Financial Impact Analyzer</div>
      </div>

      <div class="d-flex align-items-center h-100 me-2">
        <dx-select-box
          class="ms-2"
          labelMode="floating"
          labelLocation="left"
          label="Year"
          [(value)]="selectedYear"
          [dataSource]="years"
          (onValueChanged)="onYearChanged($event)"
          placeholder="Year"
          width="100"
        ></dx-select-box>

        <dx-select-box
          class="ms-2"
          labelMode="floating"
          labelLocation="left"
          label="month"
          [dataSource]="monthDataSource"
          displayExpr="name"
          valueExpr="value"
          [(value)]="selectedmonth"
          (onValueChanged)="onMonthValueChanged($event)"
          width="100"
        >
        </dx-select-box>

        <dx-date-box
          class="ms-2"
          labelMode="floating"
          labelLocation="left"
          label="From Date"
          [min]="minDate"
          [max]="maxDate"
          [(value)]="fromDate"
          [displayFormat]="'dd/MM/yyyy'"
          width="120"
        ></dx-date-box>

        <dx-date-box
          class="ms-2"
          labelMode="floating"
          labelLocation="left"
          label="To Date"
          [min]="minDate"
          [max]="maxDate"
          [(value)]="toDate"
          [displayFormat]="'dd/MM/yyyy'"
          width="120"
        ></dx-date-box>

        <dx-button
          class="ms-3 mt-2"
          [width]="'auto'"
          icon="refresh"
          hint="Apply"
          type="default"
          stylingMode="contained"
          (onClick)="loadChartData()"
        >
        </dx-button>

        <dx-button
          class="ms-3 mt-2"
          icon="export"
          hint="Export To PDF"
          type="default"
          [width]="'auto'"
          stylingMode="contained"
          (onClick)="export()"
        >
        </dx-button>
      </div>
    </div>

    <!-- Row 1: Two side-by-side charts -->
    <div class="row h-40vh g-3 mx-0 firstChartDiv ExportDiv2">
      <div class="col-md-6 border">
        <div class="p-2 h-100 chartDiv">
          <dx-pie-chart
            id="chart"
            [dataSource]="CPTVolumeBySeries"
            palette="Soft Pastel"
            [customizePoint]="customizePiePoint"
          >
            <dxo-title text="Activity Count" class="grid-header"></dxo-title>

            <dxi-series argumentField="CategoryName" valueField="TotalCount">
              <dxo-label [visible]="false" position="columns"> </dxo-label>
            </dxi-series>

            <dxo-legend
              orientation="horizontal"
              horizontalAlignment="center"
              verticalAlignment="bottom"
            >
            </dxo-legend>

            <dxo-tooltip
              [enabled]="true"
              [customizeTooltip]="customizePieTooltip"
            >
            </dxo-tooltip>

            <dxo-export [enabled]="false"></dxo-export>
          </dx-pie-chart>
        </div>
      </div>
      <div class="col-md-6 border ms-2">
        <div class="p-2 h-100 chartDiv">
          <dx-chart id="chart" [dataSource]="SpecialityImpact">
            <dxo-title text="Specialty Impact Analysis"></dxo-title>

            <dxo-common-series-settings
              argumentField="SpecialityCode"
              [barPadding]="0.01"
            >
            </dxo-common-series-settings>

            <!-- CPT Revenue -->
            <dxi-series
              valueField="CPTRevenue"
              name="CPT Revenue"
              type="bar"
              color="rgb(30, 58, 138)"
              axis="revenueAxis"
            >
            </dxi-series>

            <!-- ADOC Revenue -->
            <dxi-series
              valueField="ADOCRevenue"
              name="ADOC Revenue"
              type="bar"
              color="rgb(245, 158, 11)"
              axis="revenueAxis"
            >
            </dxi-series>
            <!-- Revenue Axis -->
            <dxi-value-axis name="revenueAxis" position="left">
              <dxo-title text=""></dxo-title>
            </dxi-value-axis>

            <dxo-argument-axis>
              <dxo-label
                [customizeText]="customizeSpecialityLabel"
                [overlappingBehavior]="'rotate'"
                [rotationAngle]="-45"
              >
              </dxo-label>
            </dxo-argument-axis>

            <dxo-tooltip
              [enabled]="true"
              [customizeTooltip]="customizeSpecialityTooltip"
            >
            </dxo-tooltip>

            <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
            </dxo-legend>

            <dxo-export [enabled]="false"></dxo-export>
          </dx-chart>
        </div>
      </div>
    </div>

    <!-- Row 2: two different datagrid Views -->
    <div class="row h-40vh g-3 mx-0 firstChartDiv ExportDiv3">
      <div class="col-md-6 border">
        <div class="p-2 h-100 chartDiv">
          <div class="datagrid-title">Top CPT Codes by ADOC Revenue Impact</div>
          <dx-data-grid
            #topCPTGrid
            [dataSource]="TopCPTImpact"
            [showBorders]="false"
            [rowAlternationEnabled]="true"
            [hoverStateEnabled]="true"
            [columnAutoWidth]="true"
            [showRowLines]="true"
            [showColumnLines]="false"
            [height]="400"
            class="impact-grid"
            (onContentReady)="onGridContentReady($event)"
          >
            <dxo-scrolling mode="virtual"></dxo-scrolling>

            <dxo-header-filter [visible]="false"></dxo-header-filter>
            <dxo-filter-row [visible]="false"></dxo-filter-row>

            <dxi-column dataField="CPT" caption="CPT" alignment="left">
            </dxi-column>

            <dxi-column
              dataField="Description"
              caption="Description"
              width="120"
            >
            </dxi-column>

            <!-- Series Badge -->
            <dxi-column
              dataField="Series"
              caption="Series"
              cellTemplate="seriesTemplate"
              width="90"
              alignment="center"
            >
            </dxi-column>

            <dxi-column
              dataField="Volume"
              caption="Volume"
              alignment="center"
              width="90"
            >
            </dxi-column>

            <dxi-column
              dataField="CPTValue"
              caption="CPT Value"
              format="currency"
              cellTemplate="cptValueTemplate"
            >
            </dxi-column>

            <dxi-column
              dataField="ADOCValue"
              caption="ADOC Value"
              cellTemplate="adocValueTemplate"
            >
            </dxi-column>

            <!-- Impact -->
            <dxi-column
              dataField="ImpactValue"
              caption="Impact"
              cellTemplate="impactTemplate"
            >
            </dxi-column>

            <!-- Series Badge -->
            <div *dxTemplate="let cell of 'seriesTemplate'">
              <span
                class="series-badge"
                [ngClass]="{
                  'series-c': cell.data.Series === 'C',
                  'series-p': cell.data.Series === 'P',
                  'series-s': cell.data.Series === 'S',
                  'series-d': cell.data.Series === 'D',
                }"
              >
                {{ cell.data.Series }}
              </span>
            </div>

            <!-- CPT Value -->
            <div *dxTemplate="let cell of 'cptValueTemplate'">
              {{ cell.value | number: "1.2-2" }}
            </div>

            <!-- ADOC Value -->
            <div *dxTemplate="let cell of 'adocValueTemplate'">
              {{ cell.value | number: "1.2-2" }}
            </div>

            <!-- Impact -->
            <div *dxTemplate="let cell of 'impactTemplate'">
              <span
                [ngClass]="{
                  'impact-positive': cell.value > 0,
                  'impact-negative': cell.value < 0,
                  'impact-zero': cell.value === 0,
                }"
              >
                {{ cell.value > 0 ? "+" : "" }}
                {{ cell.value | number: "1.2-2" }}
              </span>
            </div>
          </dx-data-grid>
        </div>
      </div>

      <div class="col-md-6 border ms-2">
        <div class="p-2 h-100 chartDiv">
          <div class="datagrid-title">Clinician Specialty Impact Analysis</div>
          <dx-data-grid
            #topClinicianGrid
            [dataSource]="ClinicianSpecialityImpact"
            [showBorders]="false"
            [rowAlternationEnabled]="true"
            [hoverStateEnabled]="true"
            [columnAutoWidth]="true"
            [showRowLines]="true"
            [showColumnLines]="false"
            [height]="400"
            class="impact-grid"
            (onContentReady)="onGridContentReady($event)"
          >
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxi-column
              dataField="Description"
              caption="Description"
              width="130"
            >
            </dxi-column>

            <dxi-column
              dataField="Encounters"
              caption="Encounters"
              alignment="center"
            >
            </dxi-column>

            <dxi-column
              dataField="CPTRevenue"
              caption="CPT Revenue"
              alignment="right"
              cellTemplate="cptRevenueTemplate"
              width="120"
            >
            </dxi-column>

            <dxi-column
              dataField="ADOCRevenue"
              caption="ADOC Revenue"
              alignment="right"
              cellTemplate="adocRevenueTemplate"
              width="120"
            >
            </dxi-column>

            <dxi-column
              dataField="ImpactValue"
              caption="Impact"
              alignment="right"
              cellTemplate="impactTemplate"
            >
            </dxi-column>

            <!-- CPT Revenue -->
            <div *dxTemplate="let cell of 'cptRevenueTemplate'">
              {{ cell.value | number: "1.2-2" }}
            </div>

            <!-- ADOC Revenue -->
            <div *dxTemplate="let cell of 'adocRevenueTemplate'">
              {{ cell.value | number: "1.2-2" }}
            </div>

            <!-- Impact -->
            <div *dxTemplate="let cell of 'impactTemplate'">
              <span
                [ngClass]="{
                  'impact-positive': cell.value > 0,
                  'impact-negative': cell.value < 0,
                  'impact-zero': cell.value === 0,
                }"
              >
                {{ cell.value > 0 ? "+" : "" }}
                {{ cell.value | number: "1.2-2" }}
              </span>
            </div>
          </dx-data-grid>
        </div>
      </div>
    </div>

    <!-- Row 3: Full-width chart -->
    <div class="row mx-0 firstChartDiv ExportDiv4">
      <div class="col-12 border">
        <div class="p-2">
          <dx-chart id="chart" [dataSource]="MonthlyTrend">
            <dxo-title text="Monthly Trend" class="grid-header"> </dxo-title>

            <dxo-common-series-settings argumentField="Month" type="line">
              <dxo-point [visible]="true"></dxo-point>
            </dxo-common-series-settings>

            <dxi-series
              valueField="ImpactPercent"
              name="Impact Percent"
              color="rgb(245, 158, 11)"
            >
            </dxi-series>

            <dxi-value-axis position="left" [visualRange]="{ startValue: 0 }">
              <dxo-title text=""></dxo-title>
            </dxi-value-axis>

            <dxo-argument-axis>
              <dxo-label [rotationAngle]="-45" overlappingBehavior="rotate">
              </dxo-label>
            </dxo-argument-axis>

            <dxo-legend
              verticalAlignment="bottom"
              horizontalAlignment="center"
              itemTextPosition="right"
            >
            </dxo-legend>

            <dxo-tooltip
              [enabled]="true"
              [customizeTooltip]="customizeMonthlyTrendTooltip"
            >
            </dxo-tooltip>

            <dxo-export [enabled]="false"></dxo-export>
          </dx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
<dx-load-panel
  #loadPanel
  [position]="{ of: '.view-wrapper', at: 'center', my: 'center' }"
  shadingColor="rgba(0,0,0,0)"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [message]="'Loading...'"
>
</dx-load-panel>
