<div id="analytics-dashboard-view" class="view-wrapper list-page">
  <div class="h-80vh">
    <div
      class="topDiv d-flex flex-column w-100 sticky-top firstChartDiv ExportDiv1"
    >
      <div
        class="d-flex align-items-center justify-content-between px-3 pt-2 pb-1"
        style="font-size: 20px"
      >
        <div class="grid-header">Financial Impact Analyzer</div>
      </div>

      <!-- Professional 2-Row Filter Bar -->
      <div class="filters-wrapper px-3 pb-2 pt-1">
        <!-- Row 1: Primary Entity Filters -->
        <div class="row g-2 align-items-center mb-2">
          <div class="col-12 col-sm-6 col-lg-3">
            <dx-drop-down-box
              #facilityDropDown
              labelMode="floating"
              label="Facility"
              [(value)]="selectedFacilityIDs"
              valueExpr="FacilityLicense"
              [displayExpr]="displayFacility"
              [showClearButton]="true"
              [dataSource]="facilityData"
              width="100%"
              [dropDownOptions]="{ width: 480 }"
            >
              <div *dxTemplate="let data of 'content'">
                <dx-data-grid
                  [dataSource]="facilityData"
                  [columns]="[
                    {
                      dataField: 'FacilityLicense',
                      caption: 'License',
                      width: 100,
                    },
                    { dataField: 'FacilityName', caption: 'Name' },
                    { dataField: 'FacilityRegion', caption: 'Region', width: 110 },
                  ]"
                  keyExpr="FacilityLicense"
                  [selection]="{ mode: 'multiple' }"
                  [hoverStateEnabled]="true"
                  [paging]="{ enabled: true, pageSize: 10 }"
                  [filterRow]="{ visible: true }"
                  [headerFilter]="{ visible: true }"
                  [scrolling]="{ mode: 'virtual' }"
                  [height]="facilityData?.length < 5 ? 'auto' : '250px'"
                  [(selectedRowKeys)]="selectedFacilityIDs"
                >
                </dx-data-grid>
              </div>
            </dx-drop-down-box>
          </div>

          <div class="col-12 col-sm-6 col-lg-3">
            <dx-select-box
              labelMode="floating"
              labelLocation="left"
              label="Receiver"
              [dataSource]="receiverDataSource"
              [displayExpr]="displayReceiver"
              valueExpr="DESCRIPTION"
              [(value)]="selectedReceiver"
              [showClearButton]="true"
              [searchEnabled]="true"
              placeholder="Receiver"
              width="100%"
            ></dx-select-box>
          </div>

          <div class="col-12 col-sm-6 col-lg-3">
            <dx-select-box
              labelMode="floating"
              labelLocation="left"
              label="Payer"
              [dataSource]="payerDataSource"
              [displayExpr]="displayPayer"
              valueExpr="DESCRIPTION"
              [(value)]="selectedPayer"
              [showClearButton]="true"
              [searchEnabled]="true"
              placeholder="Payer"
              width="100%"
            ></dx-select-box>
          </div>

          <div class="col-12 col-sm-6 col-lg-3">
            <dx-select-box
              labelMode="floating"
              labelLocation="left"
              label="Search On"
              [items]="['Encounter End Date']"
              value="Encounter End Date"
              width="100%"
            ></dx-select-box>
          </div>
        </div>

        <!-- Row 2: Date & Period Filters + Action Buttons -->
        <div class="row g-2 align-items-center">
          <div class="col-6 col-sm-3 col-lg-2">
            <dx-select-box
              labelMode="floating"
              labelLocation="left"
              label="Year"
              [(value)]="selectedYear"
              [dataSource]="years"
              (onValueChanged)="onYearChanged($event)"
              placeholder="Year"
              width="100%"
            ></dx-select-box>
          </div>

          <div class="col-6 col-sm-3 col-lg-2">
            <dx-select-box
              labelMode="floating"
              labelLocation="left"
              label="Month"
              [dataSource]="monthDataSource"
              displayExpr="name"
              valueExpr="value"
              [(value)]="selectedmonth"
              (onValueChanged)="onMonthValueChanged($event)"
              placeholder="Month"
              width="100%"
            >
            </dx-select-box>
          </div>

          <div class="col-6 col-sm-3 col-lg-2">
            <dx-date-box
              labelMode="floating"
              labelLocation="left"
              label="From Date"
              [min]="minDate"
              [max]="maxDate"
              [(value)]="fromDate"
              [displayFormat]="'dd/MM/yyyy'"
              width="100%"
            ></dx-date-box>
          </div>

          <div class="col-6 col-sm-3 col-lg-2">
            <dx-date-box
              labelMode="floating"
              labelLocation="left"
              label="To Date"
              [min]="minDate"
              [max]="maxDate"
              [(value)]="toDate"
              [displayFormat]="'dd/MM/yyyy'"
              width="100%"
            ></dx-date-box>
          </div>

          <div class="col-12 col-sm-12 col-lg-4 d-flex justify-content-end align-items-center gap-2">
            <dx-button
              [width]="'auto'"
              icon="refresh"
              hint="Apply"
              type="default"
              stylingMode="contained"
              (onClick)="loadChartData()"
            >
            </dx-button>

            <dx-button
              icon="export"
              hint="Export To PDF"
              type="default"
              [width]="'auto'"
              stylingMode="contained"
              (onClick)="export()"
            >
            </dx-button>
          </div>
        </div>
      </div>
    </div>

    <!-- Row 1: Two side-by-side charts -->
    <div class="row h-40vh g-3 mx-0 firstChartDiv ExportDiv2">
      <div class="col-md-6 border">
        <div class="p-2 h-100 chartDiv">
          <dx-pie-chart
            id="chart"
            [dataSource]="CPTVolumeBySeries"
            palette="Soft Pastel"
            [customizePoint]="customizePiePoint"
          >
            <dxo-title text="Activity Count" class="grid-header"></dxo-title>

            <dxi-series argumentField="CategoryName" valueField="TotalCount">
              <dxo-label [visible]="false" position="columns"> </dxo-label>
            </dxi-series>

            <dxo-legend
              orientation="horizontal"
              horizontalAlignment="center"
              verticalAlignment="bottom"
            >
            </dxo-legend>

            <dxo-tooltip
              [enabled]="true"
              [customizeTooltip]="customizePieTooltip"
            >
            </dxo-tooltip>

            <dxo-export [enabled]="menuPrevilage?.CanExport"></dxo-export>
          </dx-pie-chart>
        </div>
      </div>
      <div class="col-md-6 border ms-2">
        <div class="p-2 h-100 chartDiv">
          <dx-chart id="chart" [dataSource]="SpecialityImpact">
            <dxo-title text="Specialty Impact Analysis"></dxo-title>

            <dxo-common-series-settings
              argumentField="SpecialityCode"
              [barPadding]="0.01"
            >
            </dxo-common-series-settings>

            <!-- CPT Revenue -->
            <dxi-series
              valueField="CPTRevenue"
              name="CPT"
              type="bar"
              color="rgb(30, 58, 138)"
              axis="revenueAxis"
            >
            </dxi-series>

            <!-- ADOC Revenue -->
            <dxi-series
              valueField="ADOCRevenue"
              name="ADOC Revenue"
              type="bar"
              color="rgb(245, 158, 11)"
              axis="revenueAxis"
            >
            </dxi-series>
            <!-- Revenue Axis -->
            <dxi-value-axis name="revenueAxis" position="left">
              <dxo-title text=""></dxo-title>
            </dxi-value-axis>

            <dxo-argument-axis>
              <dxo-label
                [customizeText]="customizeSpecialityLabel"
                [overlappingBehavior]="'rotate'"
                [rotationAngle]="-45"
              >
              </dxo-label>
            </dxo-argument-axis>

            <dxo-tooltip
              [enabled]="true"
              [customizeTooltip]="customizeSpecialityTooltip"
            >
            </dxo-tooltip>

            <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
            </dxo-legend>

            <dxo-export [enabled]="menuPrevilage?.CanExport"></dxo-export>
          </dx-chart>
        </div>
      </div>
    </div>

    <!-- Row 2: two different datagrid Views -->
    <div class="row h-40vh g-3 mx-0 firstChartDiv ExportDiv3">
      <div class="col-md-6 border">
        <div class="p-2 h-100 chartDiv">
          <div class="datagrid-title">Top CPT Codes by ADOC Revenue Impact</div>
          <dx-data-grid
            #topCPTGrid
            [dataSource]="TopCPTImpact"
            [showBorders]="false"
            [rowAlternationEnabled]="true"
            [hoverStateEnabled]="true"
            [columnAutoWidth]="true"
            [showRowLines]="true"
            [showColumnLines]="false"
            [height]="400"
            class="impact-grid"
            (onContentReady)="onGridContentReady($event)"
          >
            <dxo-scrolling mode="virtual"></dxo-scrolling>

            <dxo-header-filter [visible]="false"></dxo-header-filter>
            <dxo-filter-row [visible]="false"></dxo-filter-row>

            <dxi-column dataField="CPT" caption="CPT" alignment="left" width="60">
            </dxi-column>

            <dxi-column
              dataField="Description"
              caption="Description"
              cellTemplate="descriptionTemplate"
              minWidth="95"
            >
            </dxi-column>

            <dxi-column
              dataField="Volume"
              caption="Encounters"
              alignment="center"
              width="82"
            >
            </dxi-column>

            <dxi-column
              dataField="CPTValue"
              caption="CPT"
              alignment="right"
              cellTemplate="cptValueTemplate"
              width="70"
            >
            </dxi-column>

            <dxi-column
              dataField="ADOCValue"
              caption="ADOC"
              alignment="right"
              cellTemplate="adocValueTemplate"
              width="65"
            >
            </dxi-column>

            <!-- Impact -->
            <dxi-column
              dataField="ImpactValue"
              caption="Impact"
              alignment="right"
              cellTemplate="impactTemplate"
              minWidth="135"
            >
            </dxi-column>

            <!-- Description with Series Badge -->
            <div
              *dxTemplate="let cell of 'descriptionTemplate'"
              class="d-flex align-items-center gap-1"
            >
              <span class="text-truncate" [title]="cell.value">{{
                cell.value
              }}</span>
              <span
                *ngIf="cell.data?.Series"
                class="series-badge"
                [ngClass]="{
                  'series-c': cell.data.Series === 'C',
                  'series-p': cell.data.Series === 'P',
                  'series-s': cell.data.Series === 'S',
                  'series-d': cell.data.Series === 'D'
                }"
              >
                {{ cell.data.Series }}
              </span>
            </div>

            <!-- CPT Value -->
            <div *dxTemplate="let cell of 'cptValueTemplate'">
              {{ cell.value | number: "1.2-2" }}
            </div>

            <!-- ADOC Value -->
            <div *dxTemplate="let cell of 'adocValueTemplate'">
              {{ cell.value | number: "1.2-2" }}
            </div>

            <!-- Impact -->
            <div *dxTemplate="let cell of 'impactTemplate'">
              <span
                [ngClass]="{
                  'impact-positive': cell.value > 0,
                  'impact-negative': cell.value < 0,
                  'impact-zero': cell.value === 0,
                }"
              >
                {{ cell.value > 0 ? "+" : "" }}{{ cell.value | number: "1.2-2" }}
                <ng-container
                  *ngIf="
                    cell.data?.ImpactPercent !== undefined &&
                    cell.data?.ImpactPercent !== null
                  "
                >
                  <span class="impact-percent">
                    ({{ cell.data.ImpactPercent > 0 ? "+" : "" }}{{
                      cell.data.ImpactPercent | number: "1.2-2"
                    }}%)
                  </span>
                </ng-container>
              </span>
            </div>

            <dxo-filter-panel [visible]="false"></dxo-filter-panel>
          </dx-data-grid>
        </div>
      </div>

      <div class="col-md-6 border ms-2">
        <div class="p-2 h-100 chartDiv">
          <div class="datagrid-title">Clinician Specialty Impact Analysis</div>
          <dx-data-grid
            #topClinicianGrid
            [dataSource]="ClinicianSpecialityImpact"
            [showBorders]="false"
            [rowAlternationEnabled]="true"
            [hoverStateEnabled]="true"
            [columnAutoWidth]="true"
            [showRowLines]="true"
            [showColumnLines]="false"
            [height]="400"
            class="impact-grid"
            (onContentReady)="onGridContentReady($event)"
          >
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxi-column
              dataField="Description"
              caption="Speciality"
              width="140"
            >
            </dxi-column>

            <dxi-column
              dataField="Encounters"
              caption="Encounters"
              alignment="center"
              width="82"
            >
            </dxi-column>

            <dxi-column
              dataField="CPTRevenue"
              caption="CPT"
              alignment="right"
              cellTemplate="cptRevenueTemplate"
              width="78"
            >
            </dxi-column>

            <dxi-column
              dataField="ADOCRevenue"
              caption="ADOC"
              alignment="right"
              cellTemplate="adocRevenueTemplate"
              width="72"
            >
            </dxi-column>

            <dxi-column
              dataField="ExclusionAmount"
              caption="Exclusion"
              alignment="right"
              cellTemplate="excTemplate"
              width="72"
            >
            </dxi-column>

            <dxi-column
              dataField="ImpactValue"
              caption="Impact"
              alignment="right"
              cellTemplate="impactTemplate"
              minWidth="135"
            >
            </dxi-column>

            <!-- CPT Revenue -->
            <div *dxTemplate="let cell of 'cptRevenueTemplate'">
              {{ cell.value | number: "1.2-2" }}
            </div>

            <!-- ADOC Revenue -->
            <div *dxTemplate="let cell of 'adocRevenueTemplate'">
              {{ cell.value | number: "1.2-2" }}
            </div>
            
            <!-- Exc Amount -->

            <div *dxTemplate="let cell of 'excTemplate'">
              {{ cell.value | number: "1.2-2" }}
            </div>

            <!-- Impact -->
            <div *dxTemplate="let cell of 'impactTemplate'">
              <span
                [ngClass]="{
                  'impact-positive': cell.value > 0,
                  'impact-negative': cell.value < 0,
                  'impact-zero': cell.value === 0,
                }"
              >
                {{ cell.value > 0 ? "+" : "" }}{{ cell.value | number: "1.2-2" }}
                <ng-container
                  *ngIf="
                    cell.data?.ImpactPercent !== undefined &&
                    cell.data?.ImpactPercent !== null
                  "
                >
                  <span class="impact-percent">
                    ({{ cell.data.ImpactPercent > 0 ? "+" : "" }}{{
                      cell.data.ImpactPercent | number: "1.2-2"
                    }}%)
                  </span>
                </ng-container>
              </span>
            </div>
          </dx-data-grid>
        </div>
      </div>
    </div>

    <!-- Row 3: Full-width chart -->
    <div class="row mx-0 firstChartDiv ExportDiv4">
      <div class="col-12 border">
        <div class="p-2">
          <dx-chart id="chart" [dataSource]="MonthlyTrend">
            <dxo-title text="Monthly Trend" class="grid-header"> </dxo-title>

            <dxo-common-series-settings argumentField="Month" type="line">
              <dxo-point [visible]="true"></dxo-point>
            </dxo-common-series-settings>

            <dxi-series
              valueField="ImpactPercent"
              name="Impact Percent"
              color="rgb(245, 158, 11)"
            >
            </dxi-series>

            <dxi-value-axis position="left" [visualRange]="{ startValue: 0 }">
              <dxo-title text=""></dxo-title>
            </dxi-value-axis>

            <dxo-argument-axis>
              <dxo-label [rotationAngle]="-45" overlappingBehavior="rotate">
              </dxo-label>
            </dxo-argument-axis>

            <dxo-legend
              verticalAlignment="bottom"
              horizontalAlignment="center"
              itemTextPosition="right"
            >
            </dxo-legend>

            <dxo-tooltip
              [enabled]="true"
              [customizeTooltip]="customizeMonthlyTrendTooltip"
            >
            </dxo-tooltip>

            <dxo-export [enabled]="menuPrevilage?.CanExport"></dxo-export>
          </dx-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<dx-load-panel
  #loadPanel
  container="#analytics-dashboard-view"
  [position]="{ of: '#analytics-dashboard-view', at: 'center', my: 'center' }"
  shadingColor="rgba(0,0,0,0)"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [message]="loadingMessage"
>
</dx-load-panel>
